.cookie-banner-section {
  background: #3e3a36;
  padding: 40px 42px;
  width: 100%;
  max-width: 375px;
  margin: 0 auto;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  transform: none;
  z-index: 100;
  display: none;

  @include media(desktop) {
    max-width: 1440px;
    align-items: center;
  }
}

.cookie-banner-text {
  font-family: 'Manrope', sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.3;
  text-align: center;
  color: #fffdf7;
  margin-bottom: 32px;

  @include media(desktop) {
    margin-bottom: 40px;
  }
}

.cookie-banner-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;

  @include media(desktop) {
    gap: 80px;
  }
}

.cookie-decline-btn {
  border-bottom: 2px solid #f4c05d;
  padding: 10px;
  background: transparent;
  font-family: 'Manrope', sans-serif;
  font-weight: 200;
  font-size: 14px;
  line-height: 1.3;
  text-align: center;
  color: #fffdf7;
}

.cookie-accept-btn {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  background: #f4c05d;
  border-radius: 12px;
  padding: 10px;
  font-family: 'Manrope', sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.3;
  text-align: center;
  color: #3e3a36;
}

.show-cookie-banner {
  display: block;
}
