.biomes-section {
  padding-top: 48px;
  padding-bottom: 48px;

  @include media(desktop) {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}

.biomes-text {
  font-family: 'Manrope', sans-serif;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  color: #3e3a36;
  margin-bottom: 32px;

  @include media(desktop) {
    font-size: 20px;
    max-width: 1062px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
  }
}

.biomes-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;

  @include media(desktop) {
    flex-direction: row;
    justify-content: center;
    gap: 39px;
  }
}

.biomes-list-item {
  border: 1px solid #3e3a36;
  border-radius: 12px;
  padding: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;

  @include media(desktop) {
    max-width: 224px;
    min-height: 328px;
  }
}

.biomes-item-title {
  font-family: 'Chonburi', sans-serif;
  font-weight: 400;
  font-size: 15px;
  text-align: center;
  color: #3e3a36;
}

.biomes-item-text {
  font-family: 'Manrope', sans-serif;
  font-weight: 400;
  font-size: 13px;
  text-align: center;
  color: #3e3a36;

  @include media(desktop) {
    font-size: 16px;
  }
}
