.footer {
  background: #3e3a36;
  padding: 40px 0;

  @include media(desktop) {
    padding: 48px 0;
  }
}

.footer-container {
  display: flex;
  flex-direction: column;

  @include media(desktop) {
    flex-direction: row;
    align-items: end;
  }
}

.footer-address {
  display: flex;
  flex-direction: column;
  gap: 18px;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  max-width: 277px;

  @include media(desktop) {
    order: 2;
    margin-bottom: 0;
  }
}

.footer-address-text-wrapper {
  display: flex;
  align-items: center;
  gap: 12px;
}

.footer-address-link {
  font-family: 'Manrope', sans-serif;
  font-weight: 300;
  font-size: 12px;
  color: #fffdf7;
}

.footer-nav {
  margin-bottom: 32px;

  @include media(desktop) {
    margin-bottom: 0;
    order: 3;
  }
}

.footer-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.footer-link {
  font-family: 'Manrope', sans-serif;
  font-weight: 300;
  font-size: 12px;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #fffdf7;
  transition: all 0.3s ease-in-out;

  &:hover,
  &:focus {
  }
}

.footer-text {
  font-family: 'Manrope', sans-serif;
  font-weight: 300;
  font-size: 12px;
  text-align: center;
  color: #fffdf7;

  @include media(desktop) {
    order: 1;
  }
}

.footer-br {
  @include media(desktop) {
    display: none;
  }
}

.footer-span {
  display: none;

  @include media(desktop) {
    display: inline;
  }
}
