.header {
  background: #3e3a36;
  padding-top: 12px;
  padding-bottom: 12px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;

  @include media(desktop) {
    padding-top: 8px;
    padding-bottom: 8px;
  }
}

.header-container {
  padding: 0 24px;

  @include media(desktop) {
    padding: 0 80px;
  }
}

.nav {
  display: flex;
  align-items: center;
  justify-content: end;

  @include media(desktop) {
    justify-content: center;
  }
}

.nav-list {
  display: none;

  @include media(desktop) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
}

.nav-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  min-width: max-content;
  font-family: 'Manrope', sans-serif;
  font-weight: 300;
  font-size: 12px;
  text-align: center;
  color: #fffdf7;
  transition: all 0.3s ease-in-out;

  &:hover,
  &.active {
    border-bottom: 1px solid #f4c05d;
    font-weight: 600;
  }
}

.nav-list-link.active {
  border-bottom: 1px solid #f4c05d;
  font-weight: 600;
}

.nav-btn {
  background-color: transparent;
  width: 24px;
  height: 24px;

  @include media(desktop) {
    display: none;
  }
}
