.hero-section {
  background: #3e3a36;
  background-image: url(../img/hero/hero-bg-mob.jpg);
  background-repeat: no-repeat;
  background-position: top 204px center;
  background-size: auto;
  padding-top: 68px;
  padding-bottom: 32px;

  @include media(desktop) {
    padding-top: 509px;
    padding-bottom: 80px;
    background-image: url(../img/hero/hero-bg-desk.jpg);
    background-position: top center;
  }
}

.hero-title {
  font-family: 'Chonburi', sans-serif;
  font-weight: 400;
  font-size: 48px;
  text-align: center;
  color: #fffdf7;
  text-shadow: 0 4px 10px #332f2b, 0 2px 4px #f4c05d;
  margin-bottom: 356px;

  @include media(desktop) {
    font-size: 64px;
    margin-bottom: 88px;
  }
}

.hero-text {
  font-family: 'Manrope', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4;
  text-align: center;
  color: #fffdf7;

  @include media(desktop) {
    font-size: 16px;
    max-width: 1127px;
    margin-left: auto;
    margin-right: auto;
  }
}

.hero-span {
  font-weight: 700;
}
