.context-menu {
  border-radius: 0 0 12px 12px;
  width: 100%;
  margin: 0 auto;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
  overflow-y: auto;
  transform: translateY(-100%);
  opacity: 0;
  transition: all 0.3s ease-in-out;
  visibility: hidden;
}

.context-top-wrapper {
  background: #3e3a36;
  padding-top: 12px;
  padding-bottom: 47px;
}

.context-bottom-wrapper {
  background: #f4c05d;
  padding: 30px 0;
}

.context-container {
  padding: 0 24px;
}

.context-bottom-container {
  padding: 0 14px;
}

.close-btn {
  display: none;
  background-color: transparent;
  width: 24px;
  height: 24px;
  margin-left: auto;
  margin-bottom: 59px;

  @include media(desktop) {
    display: none;
  }
}

.context-nav-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.context-list-item {
  width: 100%;
  max-width: 160px;
}

.context-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 4px;
  padding-bottom: 4px;
  font-family: 'Manrope', sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #fffdf7;
  transition: all 0.3s ease-in-out;

  &:active {
    border-bottom: 1px solid #f4c05d;
  }
}

.context-privacy-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.context-privacy-link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  font-family: 'Manrope', sans-serif;
  font-weight: 600;
  font-size: 12px;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  text-align: center;
  color: #3e3a36;
  transition: all 0.3s ease-in-out;
}

.is-open {
  display: block;
  transform: translateY(0);
  opacity: 1;
  visibility: visible;

  @include media(desktop) {
    display: none;
  }
}

.closed {
  display: none;
  transform: translateY(100%);
  opacity: 0;
  visibility: hidden;
}

.screen-freeze {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}
