.privacy-header {
  background: #fffdf7;
  padding-top: 12px;
  padding-bottom: 12px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;

  @include media(desktop) {
    padding-top: 24px;
    padding-bottom: 24px;
  }
}

.privacy-header-link {
  display: flex;
  align-items: center;
  gap: 12px;
  font-family: 'Manrope', sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  color: #3e3a36;
}

.arrow-back-icon {
  stroke: #3e3a36;
}
