<footer class="footer" id="footer">
  <div class="container footer-container">
    <address class="footer-address">
      <div class="footer-address-text-wrapper">
        <svg class="email-icon" width="24" height="24">
          <use href="./img/sprite.svg#icon-email"></use>
        </svg>
        <a
          class="footer-address-link"
          href="mailto:info@honeyadventurequest.com"
          >info@honeyadventurequest.com</a
        >
      </div>
      <div class="footer-address-text-wrapper">
        <svg class="pin-icon" width="24" height="24">
          <use href="./img/sprite.svg#icon-pin"></use>
        </svg>
        <p class="footer-address-link">
          Whisperroot Hollow, South of Mistroot Grove
        </p>
      </div>
      <div class="footer-address-text-wrapper">
        <svg class="clock-icon" width="24" height="24">
          <use href="./img/sprite.svg#icon-clock"></use>
        </svg>
        <p class="footer-address-link">
          Available Monday–Friday, 09:00–17:00 (CET)
        </p>
      </div>
    </address>
    <nav class="footer-nav">
      <ul class="footer-list">
        <li class="footer-list-item">
          <a class="footer-link" target="_blank" href="policies.pdf#page=1"
            >Privacy Policy</a
          >
        </li>
        <li class="footer-list-item">
          <a class="footer-link" target="_blank" href="policies.pdf#page=7"
            >Terms & Conditions</a
          >
        </li>
        <li class="footer-list-item">
          <a class="footer-link" target="_blank" href="policies.pdf#page=11"
            >Cookies Policy</a
          >
        </li>
      </ul>
    </nav>
    <p class="footer-text">
      © 2025 honeyadventurequest.com<br class="footer-br" /><span
        class="footer-span"
      >
        -
      </span>
      May the Bloom remember you.
    </p>
  </div>
</footer>
