<section class="section grove-section" id="grove">
  <div class="container grove-container">
    <div class="section-title-wrapper">
      <svg class="bee-icon" width="24" height="24">
        <use href="./img/sprite.svg#icon-bee"></use>
      </svg>
      <h2 class="section-title">The Grove</h2>
    </div>
    <p class="section-subtitle">The Grove Remembers You</p>
    <div class="grove-content-wrapper">
      <img
        class="grove-img"
        src="./img/grove/grove-bg-mob.png"
        alt="Screenshot of the game"
        width="309"
        height="240"
        loading="lazy"
      />

      <div class="grove-text-wrapper">
        <p class="grove-text">
          There is no leaderboard. No currency. No “You Win” screen. Instead,
          the Grove learns you. This is not gamification. This is recognition.
          Your rituals become part of the world’s memory. And one day, without
          warning, the Grove will speak back — not in words, but in a gesture so
          personal, you’ll wonder if the game was waiting for you all along.
        </p>
        <ul class="grove-list">
          <li class="grove-list-item">
            <svg class="check-icon" width="24" height="24">
              <use href="./img/sprite.svg#icon-check"></use>
            </svg>
            <p class="grove-item-text">
              If you play at the same hour every day, a flower blooms in that
              time’s shadow.
            </p>
          </li>
          <li class="grove-list-item">
            <svg class="check-icon" width="24" height="24">
              <use href="./img/sprite.svg#icon-check"></use>
            </svg>
            <p class="grove-item-text">
              If you fly in circles often, birds begin to mimic you.
            </p>
          </li>
          <li class="grove-list-item">
            <svg class="check-icon" width="24" height="24">
              <use href="./img/sprite.svg#icon-check"></use>
            </svg>
            <p class="grove-item-text">
              If you rest on the same leaf, it bends slightly when you return.
            </p>
          </li>
          <li class="grove-list-item">
            <svg class="check-icon" width="24" height="24">
              <use href="./img/sprite.svg#icon-check"></use>
            </svg>
            <p class="grove-item-text">
              If you pollinate without taking nectar, the forest hums a low,
              warm note.
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
