<section class="section journal-section" id="journal">
  <div class="container journal-container">
    <div class="section-title-wrapper">
      <svg class="bee-icon" width="24" height="24">
        <use href="./img/sprite.svg#icon-bee"></use>
      </svg>
      <h2 class="section-title">Journal</h2>
    </div>
    <p class="section-subtitle">The Honey Journal</p>
    <div class="journal-content-wrapper">
      <p class="journal-text">
        Your in-game companion is not a UI. It’s a weathered, living book that
        grows with you. The Honey Journal captures sketches, blooming maps,
        seasonal findings, and pollen memories. Players often spend hours just
        flipping through its pages. It hums softly. Sometimes it sings.
      </p>
      <div class="journal-list-wrapper">
        <p class="journal-list-text">What it can do:</p>
        <ul class="journal-list">
          <li class="journal-list-item">
            <svg class="honeybee-icon" width="24" height="24">
              <use href="./img/sprite.svg#icon-honeybee"></use>
            </svg>
            <p class="journal-item-text">
              Automatically records every flower you find, along with its active
              hours and traits
            </p>
          </li>
          <li class="journal-list-item">
            <svg class="honeybee-icon" width="24" height="24">
              <use href="./img/sprite.svg#icon-honeybee"></use>
            </svg>
            <p class="journal-item-text">
              Chronicles relationships with forest inhabitants — yes, even the
              shy rock beetle
            </p>
          </li>
          <li class="journal-list-item">
            <svg class="honeybee-icon" width="24" height="24">
              <use href="./img/sprite.svg#icon-honeybee"></use>
            </svg>
            <p class="journal-item-text">
              Unlocks hand-drawn visual tales told in petals, dust, and shadow
            </p>
          </li>
          <li class="journal-list-item">
            <svg class="honeybee-icon" width="24" height="24">
              <use href="./img/sprite.svg#icon-honeybee"></use>
            </svg>
            <p class="journal-item-text">
              Allows you to bind collected honey into Memory Crystals — rare
              items that preserve Grove Lore
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
