<section class="section philosophy-section" id="philosophy">
  <div class="container philosophy-container">
    <div class="section-title-wrapper">
      <svg class="bee-icon" width="24" height="24">
        <use href="./img/sprite.svg#icon-bee"></use>
      </svg>
      <h2 class="section-title">Philosophy</h2>
    </div>
    <p class="section-subtitle">Philosophy of the Grove</p>
    <div class="philosophy-content-wrapper">
      <p class="philosophy-top-text">
        Honey Adventure isn’t built for addiction, perfection, or speed.<br
          class="philosophy-br"
        />
        It’s built for those who want to notice again.<br
          class="philosophy-br"
        />
        To rediscover rhythm in small things.
      </p>
      <p class="philosophy-bottom-text">
        The game was inspired by forgotten gardens, apiary notebooks from the
        1800s, and the concept of symbiotic pacing — where the player doesn’t
        dominate the world, but co-exists with it.<br />
        There is no right way to play. But there is your way. And the Grove will
        shape itself around that.<br class="philosophy-br" />
        So fly. Tend. Listen. Let sweetness be slow.
      </p>
    </div>
  </div>
</section>
