<section class="section reviews-section" id="reviews">
  <div class="container reviews-container">
    <div class="section-title-wrapper">
      <svg class="bee-icon" width="24" height="24">
        <use href="./img/sprite.svg#icon-bee"></use>
      </svg>
      <h2 class="section-title">Reviews</h2>
    </div>
    <p class="section-subtitle">
      The forest doesn’t speak in words — it hums in emotion. And so do those
      who’ve wandered through it.
    </p>
    <ul class="reviews-list">
      <li class="reviews-list-item">
        <p class="reviews-item-text">
          “My favorite part is when you collect enough nectar and the flower
          thanks you. Not in speech — but it glows and the music changes. That
          made me feel important.”
        </p>
        <p class="reviews-item-name">Byteforager, age 12</p>
      </li>
      <li class="reviews-list-item">
        <p class="reviews-item-text">
          “I didn’t expect to cry when I first saw the Hollowhive mural. But it
          mirrored something in me: a longing to rebuild, slowly, without noise.
          This game taught me that tending is sacred.”
        </p>
        <p class="reviews-item-name">Linnéa, Apiarist & Poet</p>
      </li>
      <li class="reviews-list-item">
        <p class="reviews-item-text">
          “The Journal isn’t just a mechanic. It became my record of peace.
          After work, I open the game, hover, listen. That’s all. And for once,
          that’s enough.”
        </p>
        <p class="reviews-item-name">QuietLogic</p>
      </li>
      <li class="reviews-list-item">
        <p class="reviews-item-text">
          “There’s a tree near the Mistroot that only opens at night if you
          arrive silently. I found it by accident. Inside was a melody I hadn’t
          heard since my childhood. How is that possible?”
        </p>
        <p class="reviews-item-name">SojournBell</p>
      </li>
      <li class="reviews-list-item">
        <p class="reviews-item-text">
          “I didn’t expect to cry when I first saw the Hollowhive mural. But it
          mirrored something in me: a longing to rebuild, slowly, without noise.
          This game taught me that tending is sacred.”
        </p>
        <p class="reviews-item-name">Linnéa, Apiarist & Poet</p>
      </li>
      <li class="reviews-list-item">
        <p class="reviews-item-text">
          “I left the game running overnight. At sunrise, the Grove was blooming
          differently. The bees were asleep. But the river was louder. No
          achievements. Just a living world, waiting for me to come back.”
        </p>
        <p class="reviews-item-name">El-Aurum</p>
      </li>
    </ul>
  </div>
</section>
