<section class="section rhythms-section" id="rhythms">
  <div class="container rhythms-container">
    <div class="section-title-wrapper">
      <svg class="bee-icon" width="24" height="24">
        <use href="./img/sprite.svg#icon-bee"></use>
      </svg>
      <h2 class="section-title">Rhythms</h2>
    </div>
    <p class="section-subtitle">Temporal Mechanics & Rhythms of Play</p>
    <div class="rhythms-content-wrapper">
      <img
        class="rhythms-img"
        src="./img/rhythms/rhythms-bg-mob.png"
        alt="Screenshot of the game"
        width="294"
        height="229"
        loading="lazy"
      />

      <div class="rhythms-text-wrapper">
        <p class="rhythms-text">
          Time in Honey Adventure is a living, breathing participant. The game
          doesn’t run on real-world time — but on a forest rhythm clock, tied to
          wind patterns, player pace, and bloom density. These systems were made
          not to pressure you — but to respect your time. You are not punished
          for leaving. In fact, absence often reveals new paths.
        </p>
        <ul class="rhythms-list">
          <li class="rhythms-list-item">
            <svg class="check-icon" width="24" height="24">
              <use href="./img/sprite.svg#icon-check"></use>
            </svg>
            <p class="rhythms-item-text">
              <span class="rhythms-span">Day/Night Cycle:</span> Every in-game
              hour brings different flora behaviors. Some puzzles only resolve
              under moonlight or fog.
            </p>
          </li>
          <li class="rhythms-list-item">
            <svg class="check-icon" width="24" height="24">
              <use href="./img/sprite.svg#icon-check"></use>
            </svg>
            <p class="rhythms-item-text">
              <span class="rhythms-span">Seasonal Bloom Events:</span> Once
              every real-world week, the Grove reshuffles — certain paths close,
              new ones open.
            </p>
          </li>
          <li class="rhythms-list-item">
            <svg class="check-icon" width="24" height="24">
              <use href="./img/sprite.svg#icon-check"></use>
            </svg>
            <p class="rhythms-item-text">
              <span class="rhythms-span">Weather-Linked Logic:</span> Rain
              nourishes sleeping mushrooms. Wind reveals pollen trails. Sunlight
              opens sunpearl vines.
            </p>
          </li>
          <li class="rhythms-list-item">
            <svg class="check-icon" width="24" height="24">
              <use href="./img/sprite.svg#icon-check"></use>
            </svg>
            <p class="rhythms-item-text">
              <span class="rhythms-span">Deep Rest Mode:</span> If you don’t
              play for 3 days, your Grove begins flowering without you. When you
              return, Maru journals what happened.
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
