<section class="section trails-section" id="trails">
  <div class="container trails-container">
    <div class="section-title-wrapper">
      <svg class="bee-icon" width="24" height="24">
        <use href="./img/sprite.svg#icon-bee"></use>
      </svg>
      <h2 class="section-title">Trails & Echoes</h2>
    </div>
    <p class="section-subtitle">Pollen Trails & Memory Echoes</p>
    <div class="trails-content-wrapper">
      <picture>
        <source
          srcset="./img/trails/trails-bg-desk.png"
          media="(min-width: 1440px)"
          width="494"
          height="250"
        />
        <source
          srcset="./img/trails/trails-bg-mob.png"
          width="343"
          height="173"
        />
        <img
          class="trails-img"
          src="./img/trails/trails-bg-mob.png"
          alt="Screenshot of the game"
          width="343"
          height="173"
          loading="lazy"
        />
      </picture>
      <div class="trails-text-wrapper">
        <p class="trails-text">
          Unlike traditional quest systems, Honey Adventure uses memory echoes.
          As Maru collects pollen and explores, you’ll trigger glowing trails —
          fragmented pieces of what once was. Some trails fade if followed too
          quickly. Others appear only at dawn, or when specific plants bloom.
          Time is a puzzle here. And patience is power. Follow these trails to:
        </p>
        <ul class="trails-list">
          <li class="trails-list-item">
            <svg class="check-icon" width="24" height="24">
              <use href="./img/sprite.svg#icon-check"></use>
            </svg>
            <p class="trails-item-text">Unlock paths buried beneath vines</p>
          </li>
          <li class="trails-list-item">
            <svg class="check-icon" width="24" height="24">
              <use href="./img/sprite.svg#icon-check"></use>
            </svg>
            <p class="trails-item-text">
              Awaken trees that hum in ancestral tones
            </p>
          </li>
          <li class="trails-list-item">
            <svg class="check-icon" width="24" height="24">
              <use href="./img/sprite.svg#icon-check"></use>
            </svg>
            <p class="trails-item-text">
              Reconnect with ancient bee spirits who may guide… or question you
            </p>
          </li>
          <li class="trails-list-item">
            <svg class="check-icon" width="24" height="24">
              <use href="./img/sprite.svg#icon-check"></use>
            </svg>
            <p class="trails-item-text">
              Decode flower constellations — puzzle-like arrangements requiring
              intuition over logic
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
